body {
	font-family: Courier;
}

table {
	line-height: 150px;
	text-align: center;
	font-size: 100px;
	color: black; 
}

td {
	width: 150px;
	border-bottom: 2px solid black;
}

td+td {
	border-left: 2px solid black;
}

tr:last-child td {
	border-bottom: 0px;
}


div {
	height: 450px;
	width: 450px;
	background-color: white;
	border: none;
	vertical-align: middle;
	text-align: center;
}


.button {
	background-color: #33cc33 ;
	width: 100px ;
	height: 30px ;
	line-height: 20px ;
	border: 2px solid black;
	text-align: center ;
	vertical-align: middle ;
	border-radius: 5px;
	cursor: Pointer ;
}

#divSquareOne {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareTwo {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareThree {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareFour {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareFive {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareSix {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareSeven {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareEight {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

#divSquareNine {
	height: 150px;
	width: 150px;
	background-color: white;
	border: none;
	cursor: pointer;
}

