body {
	font-family: Courier;
	font-size: 1em;
}

table {
    height: 465px;
    width: 465px;
	line-height: 100%;
	text-align: center;
    vertical-align: middle;
	color: black; 
}


td {
	border-bottom: 2px solid black;
}

td+td {
	border-left: 2px solid black;
}

.bottomless { 
	border-bottom: 0px;
}

.borderless {
    border: none;
}

#container {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
    border: none;
    vertical-align: middle;
    text-align: center;
}

#board {
	height: 470px;
	width: 470px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
}


.button {
    margin-top: 30px;
	background-color: #33cc33 ;
	width: 100px;
	height: 30px;
	line-height: 2em ;
	border: 2px solid black;
	text-align: center ;
	vertical-align: middle ;
	border-radius: 5px;
	cursor: Pointer ;
}

#message {
    background-color: #B0B0B0;
    min-height: 0px;
    width: 300px;
    color: red;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2em;     
    text-align: center;
    line-height: 2em;
}

.squareDivs {
    height: 150px;
    width: 150px;
    border: none;
    cursor: pointer;
    font-size: 100px;
    line-height: 130px;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#divSquare_00 {
}

#divSquare_01 {
}

#divSquare_02 {
}

#divSquare_10 {
}

#divSquare_11 {
}

#divSquare_12 {
}

#divSquare_20 {
}

#divSquare_21 {
}

#divSquare_22 {
}


